attrs==20.3.0
beautifulsoup4==4.9.3
betterproto==1.2.5
certifi==2020.12.5
chardet2==2.0.3
coverage==5.5
google==3.0.0
grpclib==0.4.1
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.0
iniconfig==1.1.1
multidict==5.1.0
neo4j-driver==4.1.1
neobolt==1.7.17
neomodel==4.0.2
nose2==0.10.0
packaging==20.9
pluggy==0.13.1
protobuf==3.15.6
py==1.10.0
pymongo==3.11.3
pyparsing==2.4.7
pytest==6.2.2
pytz==2021.1
requests==0.10.6
rpc==0.1.1
Shapely==1.7.1
six==1.15.0
soupsieve==2.2
stringcase==1.2.0
toml==0.10.2
WebOb==1.2b3
